.navbar {
    margin-bottom: 0px;
    border-bottom: none;
}

.score {
  font-size: 31px;
  color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #FFF;
}

.host-background-color {
  background-color: #428bca;
}

.playertwo-background-color {
  background-color: #d9534f;
}
